<div class="container mt-5">
    <div class="alert alert-danger alert-dismissible fade show">
        <h4 class="alert-heading"><i class="bi-exclamation-octagon-fill"></i> Oops! Algo ha salido terriblemente mal.
        </h4>
        <p>{{errorText}}</p>
        <hr>
        <button type="button" class="btn btn-outline-dark"data-bs-dismiss="alert" onclick="location.href=`{{btnAction}}`">VOLVER</button>
    </div>
</div>